#java specific
*.class
*.jar
# without gradle-wrapper.jar our build will fail
!gradle/wrapper/gradle-wrapper.jar

#log specific
*.log

#Mac
**/.DS_Store

### Gradle ###
.gradle
**/build/
**/logs/
**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
/student_pavel_antonov/documentation/
/student_pavel_antonov/___forExp/
